name: build

on:
  pull_request:
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/e2e-test.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-test/**
  push:
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/e2e-test.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-test/**
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/reusable--build.yaml

  e2e-test:
    needs: build
    uses: ./.github/workflows/reusable--e2e-test.yaml
    secrets: inherit
    with:
      runner-image-uri: ${{ needs.build.outputs.image-uri }}
