name: build

on:
  pull_request:
    paths:
      - .github/workflows/build.yaml
      - Dockerfile
      - entrypoint.sh
      - hack/**
  push:
    paths:
      - .github/workflows/build.yaml
      - Dockerfile
      - entrypoint.sh
      - hack/**
    branches:
      - main
    tags:
      - '*'

env:
  RUNNER_VERSION: 2.304.0

jobs:
  generate-dockerfile-from-upstream:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3.5.2
      - run: make -C hack
      - run: cp hack/Dockerfile.generated Dockerfile
      - uses: int128/update-generated-files-action@v2.38.0

  image:
    needs: generate-dockerfile-from-upstream
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
    outputs:
      image-uri: ghcr.io/${{ github.repository }}@${{ steps.build.outputs.digest }}
    steps:
      - uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@v4.4.0
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}
      - uses: int128/docker-build-cache-config-action@v1.14.0
        id: cache
        with:
          image: ghcr.io/${{ github.repository }}/cache
      - uses: docker/setup-qemu-action@v2.1.0
      - uses: docker/setup-buildx-action@v2.5.0
      - uses: docker/build-push-action@v4.0.0
        id: build
        with:
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}
          build-args: |
            RUNNER_VERSION=${{ env.RUNNER_VERSION }}
          platforms: |
            linux/amd64
            linux/arm64

  e2e-test:
    needs: image
    uses: ./.github/workflows/e2e-test.yaml
    secrets: inherit
    with:
      runner-image-uri: ${{ needs.image.outputs.image-uri }}
