name: build

on:
  pull_request:
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/e2e-test.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-test/**
  push:
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/e2e-test.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-test/**
    branches:
      - main
    tags:
      - '*'

env:
  RUNNER_VERSION: 2.305.0

jobs:
  image:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
    outputs:
      image-uri: ghcr.io/${{ github.repository }}@${{ steps.build.outputs.digest }}
    steps:
      - uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@c4ee3adeed93b1fa6a762f209fb01608c1a22f1e # v4.4.0
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}
      - uses: int128/docker-build-cache-config-action@71310c6f6a493dd29e5a6d0d50d99a5b75fb7c1f # v1.14.0
        id: cache
        with:
          image: ghcr.io/${{ github.repository }}/cache
      - uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # v2.1.0
      - uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c # v2.5.0
      - uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671 # v4.0.0
        id: build
        with:
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}
          build-args: |
            RUNNER_VERSION=${{ env.RUNNER_VERSION }}
          platforms: |
            linux/amd64
            linux/arm64

  e2e-test:
    needs: image
    uses: ./.github/workflows/e2e-test.yaml
    secrets: inherit
    with:
      runner-image-uri: ${{ needs.image.outputs.image-uri }}
