name: build

on:
  pull_request:
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/reusable--*.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-tests/**
      - hack/**
  push:
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/reusable--*.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-tests/**
      - hack/**
    branches:
      - main
    tags:
      - '*'

jobs:
  build-latest:
    uses: ./.github/workflows/reusable--build.yaml
    permissions:
      contents: read
      packages: write

  build-ubuntu20:
    uses: ./.github/workflows/reusable--build.yaml
    permissions:
      contents: read
      packages: write
    with:
      file: Dockerfile.ubuntu20
      flavor: suffix=-ubuntu20

  e2e-test:
    needs:
      - build-latest
      - build-ubuntu20
    uses: ./.github/workflows/reusable--e2e-test.yaml
    secrets: inherit
    permissions:
      contents: read
      actions: write
    with:
      runner-image-uri-latest: ${{ needs.build-latest.outputs.image-uri }}
      runner-image-uri-ubuntu20: ${{ needs.build-ubuntu20.outputs.image-uri }}

  release:
    needs:
      - build-latest
      - build-ubuntu20
    uses: ./.github/workflows/reusable--release.yaml
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
    with:
      runner-image-uri-latest: ${{ needs.build-latest.outputs.image-uri }}
      runner-image-uri-ubuntu20: ${{ needs.build-ubuntu20.outputs.image-uri }}
