name: build

on:
  pull_request:
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/reusable--*.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-tests/**
      - hack/**
  push:
    paths:
      - .github/workflows/build.yaml
      - .github/workflows/reusable--*.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-tests/**
      - hack/**
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/reusable--build.yaml
    permissions:
      contents: read
      packages: write

  e2e-test:
    needs:
      - build
    uses: ./.github/workflows/reusable--e2e-test.yaml
    secrets: inherit
    permissions:
      contents: read
      actions: write
    with:
      runner-image-uri: ${{ needs.build.outputs.image-uri }}

  release:
    needs:
      - build
    uses: ./.github/workflows/reusable--release.yaml
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
    with:
      runner-image-uri: ${{ needs.build.outputs.image-uri }}
