name: e2e-test

on:
  workflow_call:
    inputs:
      runner-image-uri:
        type: string
        required: true
        description: Image URI of runner
      runner-ubuntu20-image-uri:
        type: string
        required: true
        description: Image URI of runner (ubuntu20)

jobs:
  controller:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: e2e-test
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aquaproj/aqua-installer@928a2ee4243a9ee8312d80dc8cbaca88fb602a91 # v2.2.0
        with:
          aqua_version: v2.21.0
          working_directory: e2e-test
      - run: make cluster
      - run: make deploy
        env:
          ARC_RUNNER_NAME: e2e-${{ github.run_id }}
          ARC_RUNNER_IMAGE_URI: ${{ inputs.runner-image-uri}}
          ARC_RUNNER_UBUNTU20_NAME: e2e-ubuntu20-${{ github.run_id }}
          ARC_RUNNER_UBUNTU20_IMAGE_URI: ${{ inputs.runner-ubuntu20-image-uri }}
          APP_ID: ${{ secrets.E2E_TEST_APP_ID }}
          APP_INSTALLATION_ID: ${{ secrets.E2E_TEST_APP_INSTALLATION_ID }}
          APP_PRIVATE_KEY: ${{ secrets.E2E_TEST_APP_PRIVATE_KEY }}
      - run: make wait-for-job
      - run: make undeploy
        if: always()
      - run: make logs
        if: always()

  test:
    uses: ./.github/workflows/reusable--e2e-test-jobs.yaml
    with:
      runner-name: e2e-${{ github.run_id }}

  test-ubuntu20:
    uses: ./.github/workflows/reusable--e2e-test-jobs.yaml
    with:
      runner-name: e2e-ubuntu20-${{ github.run_id }}
