name: e2e-test

on:
  workflow_call:
    inputs:
      runner-image-uri-latest:
        type: string
        required: true
        description: Image URI of runner (latest)
      runner-image-uri-ubuntu20:
        type: string
        required: true
        description: Image URI of runner (ubuntu20)
      runner-base-name:
        type: string
        description: Base name of runner
        default: e2e-${{ github.event.pull_request.number || github.ref_name }}

concurrency:
  # One workflow run per a pull request or pushed branch
  group: ${{ github.workflow }}--${{ github.ref }}
  cancel-in-progress: true

jobs:
  controller:
    runs-on: ubuntu-latest
    timeout-minutes: 7
    defaults:
      run:
        working-directory: e2e-test
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2
          working_directory: e2e-test
      - run: make cluster
      - run: make create-github-config-secret
        env:
          APP_ID: ${{ secrets.E2E_TEST_APP_ID }}
          APP_INSTALLATION_ID: ${{ secrets.E2E_TEST_APP_INSTALLATION_ID }}
          APP_PRIVATE_KEY: ${{ secrets.E2E_TEST_APP_PRIVATE_KEY }}
      - run: make controller

      - run: make runner-scale-set
        env:
          ARC_RUNNER_NAME: ${{ inputs.runner-base-name }}-latest
          ARC_RUNNER_IMAGE_URI: ${{ inputs.runner-image-uri-latest }}
      - run: make runner-scale-set
        env:
          ARC_RUNNER_NAME: ${{ inputs.runner-base-name }}-ubuntu20
          ARC_RUNNER_IMAGE_URI: ${{ inputs.runner-image-uri-ubuntu20 }}

      # Register a dummy runner scale set to ensure GitHub picks the jobs.
      - run: sleep 60
      - run: make runner-scale-set
        env:
          ARC_RUNNER_NAME: ${{ inputs.runner-base-name }}-dummy
          ARC_RUNNER_IMAGE_URI: ${{ inputs.runner-image-uri-latest }}

      - run: make wait-for-runner
        env:
          ARC_RUNNER_NAME: ${{ inputs.runner-base-name }}-latest
      - run: make wait-for-runner
        env:
          ARC_RUNNER_NAME: ${{ inputs.runner-base-name }}-ubuntu20
      - run: make runner-logs
        if: always()
      - run: make listener-logs
        if: always()
      - run: make undeploy
        if: always()
      - run: make controller-logs
        if: always()

  finally-cancel-workflow-run:
    needs: controller
    if: failure()
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      actions: write
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            await github.rest.actions.cancelWorkflowRun({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.runId,
            })

  runner-latest:
    uses: ./.github/workflows/reusable--e2e-test-jobs.yaml
    with:
      runner-name: ${{ inputs.runner-base-name }}-latest
      expected-image-os: ubuntu22

  runner-ubuntu20:
    uses: ./.github/workflows/reusable--e2e-test-jobs.yaml
    with:
      runner-name: ${{ inputs.runner-base-name }}-ubuntu20
      expected-image-os: ubuntu20
