name: e2e-test-jobs

on:
  workflow_call:
    inputs:
      runner-name:
        type: string
        required: true
        description: Name of runner
      expected-image-os:
        type: string
        required: true
        description: Expected value of $ImageOS

jobs:
  assert-environment:
    runs-on: ${{ inputs.runner-name }}
    timeout-minutes: 10
    steps:
      - run: uname -a
      - run: cat /etc/os-release
      - run: test "$ImageOS" = "$expected_image_os"
        env:
          expected_image_os: ${{ inputs.expected-image-os }}

  test-actions:
    runs-on: ${{ inputs.runner-name }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: docker version
      - run: docker run -v "$PWD:/workspace" --rm debian:stable ls -l /workspace/README.md
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          context: e2e-test
          file: e2e-test/fixture.dockerfile

      # setup-ruby does not support ubuntu-20.04
      - if: inputs.expected-image-os != 'ubuntu20'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
      - if: inputs.expected-image-os != 'ubuntu20'
        run: ruby --version
      - if: inputs.expected-image-os != 'ubuntu20'
        run: gem --version

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3
      - run: python --version

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
      - run: node --version

  test-service-container:
    runs-on: ${{ inputs.runner-name }}
    timeout-minutes: 10
    services:
      http:
        image: nginx:stable
        ports:
          - 8080:80
    steps:
      - run: curl -sf http://localhost:8080
