name: release

on:
  workflow_call:
    inputs:
      runner-image-uri:
        type: string
        required: true
        description: Image URI of runner

jobs:
  create-release-if-not-exists:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: get-runner-version
        run: bash hack/get-runner-version.sh
        env:
          RUNNER_IMAGE_URI: ${{ inputs.runner-image-uri }}

      # When Renovate has updated the runner version,
      # automatically create a new release into GitHub Releases.
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: release-token
        with:
          app-id: ${{ secrets.E2E_TEST_APP_ID }}
          private-key: ${{ secrets.E2E_TEST_APP_PRIVATE_KEY }}
      - id: create-release
        run: bash hack/create-release-if-not-exists.sh
        env:
          RUNNER_VERSION: ${{ steps.get-runner-version.outputs.runner-version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Trigger the build workflow against the new release
          RELEASE_TOKEN: ${{ steps.release-token.outputs.token }}
      - if: steps.create-release.outputs.comment
        uses: int128/comment-action@6641701f2db615de5b97850e44dc6f870cfdfca2 # v1.49.0
        with:
          update-if-exists: replace
          post: ${{ steps.create-release.outputs.comment }}
