name: release

on:
  workflow_call:
    inputs:
      runner-image-uri-latest:
        type: string
        required: true
        description: Image URI of runner (latest)
      runner-image-uri-ubuntu20:
        type: string
        required: true
        description: Image URI of runner (ubuntu20)

jobs:
  create-release-if-not-exists:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # Ensure the runner versions are the same
      - id: get-runner-version-latest
        run: bash hack/get-runner-version.sh
        env:
          RUNNER_IMAGE_URI: ${{ inputs.runner-image-uri-latest }}
      - id: get-runner-version-ubuntu20
        run: bash hack/get-runner-version.sh
        env:
          RUNNER_IMAGE_URI: ${{ inputs.runner-image-uri-ubuntu20 }}
      - run: test "$RUNNER_VERSION_LATEST" = "$RUNNER_VERSION_UBUNTU20"
        env:
          RUNNER_VERSION_LATEST: ${{ steps.get-runner-version-latest.outputs.runner-version }}
          RUNNER_VERSION_UBUNTU20: ${{ steps.get-runner-version-ubuntu20.outputs.runner-version }}

      # When Renovate has updated the runner version,
      # automatically create a new release into GitHub Releases.
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: release-token
        with:
          app-id: ${{ secrets.E2E_TEST_APP_ID }}
          private-key: ${{ secrets.E2E_TEST_APP_PRIVATE_KEY }}
      - id: create-release
        run: bash hack/create-release-if-not-exists.sh
        env:
          RUNNER_VERSION: ${{ steps.get-runner-version-latest.outputs.runner-version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Trigger the build workflow against the new release
          RELEASE_TOKEN: ${{ steps.release-token.outputs.token }}
      - if: steps.create-release.outputs.comment
        uses: int128/comment-action@2e7e2d8e385ee24454ea30ef135d5c5867011410 # v1.46.0
        with:
          update-if-exists: replace
          post: ${{ steps.create-release.outputs.comment }}
