name: build

on:
  workflow_call:
    inputs:
      context:
        type: string
        required: false
        description: context passed to docker/build-push-action
      file:
        type: string
        required: false
        description: file passed to docker/build-push-action
      build-args:
        type: string
        required: false
        description: build-args passed to docker/build-push-action
      tags:
        type: string
        required: false
        description: tags passed to docker/metadata-action
      flavor:
        type: string
        required: false
        description: flavor passed to docker/metadata-action
    outputs:
      image-uri:
        value: ${{ jobs.build.outputs.image-uri }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
    outputs:
      image-uri: ghcr.io/${{ github.repository }}@${{ steps.build.outputs.digest }}
    steps:
      - uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}
          tags: ${{ inputs.tags }}
          flavor: ${{ inputs.flavor }}
      - uses: int128/docker-build-cache-config-action@cba1967be5f85d32825c5aed214959a0d5c77754 # v1.34.0
        id: cache
        with:
          image: ghcr.io/${{ github.repository }}/cache
          flavor: ${{ inputs.flavor }}
      - uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf # v3.2.0
      - uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db # v3.6.1
      - uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        id: build
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.file }}
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}
          build-args: ${{ inputs.build-args }}
          platforms: |
            linux/amd64
            linux/arm64
