name: test

on:
  pull_request:
    paths:
      - .github/workflows/test.yaml
      - .github/workflows/reusable--build.yaml
      - .github/workflows/reusable--build-and-test.yaml
      - .github/workflows/reusable--e2e-test.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-test/**
  push:
    paths:
      - .github/workflows/test.yaml
      - .github/workflows/reusable--build.yaml
      - .github/workflows/reusable--build-and-test.yaml
      - .github/workflows/reusable--e2e-test.yaml
      - Dockerfile
      - entrypoint.sh
      - e2e-test/**
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/reusable--build.yaml
